Source: gxde-movie-reborn
Section: libdevel
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper, cmake, pkg-config, qttools5-dev-tools,
                libqt5svg5-dev, qtmultimedia5-dev, qttools5-dev,
                libqt5x11extras5-dev, libdtkcore-bin, libdtkwidget2-dev,
                libqt5sql5-sqlite,
                libmpv-dev, libxcb1-dev, libxcb-util0-dev,
                libffmpegthumbnailer-dev,
                libxcb-shape0-dev,libxcb-ewmh-dev, xcb-proto,
                x11proto-record-dev, libxtst-dev,
                libavcodec-dev, libavformat-dev,libavutil-dev,
                libpulse-dev, libssl-dev, libdvdnav-dev
Standards-Version: 3.9.8
Homepage: https://gitee.com/GXDE-OS/gxde-movie-reborn

Package: gxde-movie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: movie player
 movie player for GXDE desktop environment.

Package: libgxmr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: movie player widget library 
 GXDE movie player widget library

Package: libgxmr-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgxmr(=${binary:Version})
Description: movie player widget library development headers
 GXDE movie player widget library development headers
